.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: darkslateblue;
}

.footer-copyright h6 {
  color: white !important;
}

.header {
  background-color: darkslateblue;
}

.navbar a {
  color: white !important;
}
